<div class="container">

    <!-- Search Bar -->
    <div class="row">
          <div class="col-md-6">
              <div id="custom-search-input">
                    <input type="text" class="form-control input-lg" (keyup)="onKey($event)" (keydown)="onKey($event)" placeholder="Search Articles..." />
              </div>
          </div>
    </div>

    <!-- Search result and show this component only when articles.length > 0 -->
    <div class="row" *ngIf="articles?.length > 0;   else noResults">
        <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Thumbnail</th>
                <th>Creator</th>
                <th>Creation Date</th>
              </tr>
            </thead>
            <tbody>
                <!-- iterate the requested data from the Rest API  -->
                <tr *ngFor="let article of articles">
                    <!-- Always with ?. to avoid undefined data -->
                    <td>{{ article?.title }}</td>
                    <td>
                        <img [src]="article?.thumbnail" class="article_thumbnail">
                    </td>
                    <td>{{ article?.creator.name }}</td>
                    <td>{{ article?.createdAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noResults>
        <div class="row" *ngIf="articles">
            <div class="col-md-6">
                <p>{{ 'No result was found' }}</p>
            </div>
        </div>
    </ng-template>
    
  </div>