<div class="panel panel-default" *ngIf="articles_orderDate?.length > 0">
  <div class="panel-heading">All Articles Ordered By Date</div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Thumbnail</th>
        <th>Creator</th>
        <th>Creation Date</th>
      </tr>
    </thead>
    <tbody *ngIf="articles_orderDate">
      <!-- iterate the requested data from the Rest API  -->
      <tr *ngFor="let article of articles_orderDate">
        <td>{{ article?.title }}</td>
        <td>
          <img [src]="article?.thumbnail" class="article_thumbnail">
        </td>
        <td>{{ article?.creator.name }}</td>
        <td>{{ article?.createdAt }}</td>
      </tr>   
    </tbody>
  </table>
      
</div>
    
  